@import "../../../scss/helper/variable";
@import "../../../scss/helper/mixin";

.main_content {
    background-image: linear-gradient(to right, rgba(8, 9, 12, 0.8), #4e515f);
    padding: 2rem;
    height: 100%;
    .main_content_user {
        div {
            h2 {
                font-family: semibold;
            }
        }
        background-color: white;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        margin-top: 6rem;
        table {
            thead {
                tr {
                    th {
                        vertical-align: middle;
                        font-family: semibold;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        vertical-align: middle;
                        font-family: medium;
                    }
                    td:nth-child(7) {
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
            }
        }
        div {
            button {
                font-family: light;
            }
        }
        nav {
            ul {
                li {
                    font-family: semibold;
                }
            }
        }
        #addUserModal {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        h4 {
                            font-family: light;
                        }
                    }
                    .addUser {
                        .sign_up_form {
                            .row {
                                .col-12 {
                                    button {
                                        font-family: semibold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #editUserModal {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        font-family: light;
                    }
                }
            }
        }
    }
    #addMovieModal,
    #editMovieModal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    h5 {
                        font-family: light;
                    }
                }
                .modal-body {
                    .movieForm {
                        .container {
                            div {
                                button {
                                    font-family: semibold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//for modal add user

/* form starting stylings ------------------------------- */
.addUser {
    .sign_up_form {
        //dùng chung với sign-up
        width: 100%;
        margin: auto;
        background-color: $color-white-0;
        // border: solid $color-black-3 1px;
        padding: 2rem;
        .row {
            .col-12 {
                box-shadow: none;
                .group {
                    position: relative;
                    margin-bottom: 40px;
                    input {
                        font-size: 20px;
                        padding: 10px 10px 10px 5px;
                        display: block;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #757575;
                        &:focus {
                            outline: none;
                        }
                        &:focus ~ label,
                        &:valid ~ label {
                            top: -20px;
                            font-size: 13px;
                            color: $color-red-3;
                        }
                        &:focus ~ .bar {
                            &:before,
                            &:after {
                                width: 50%;
                            }
                        }
                    }
                    /* LABEL ======================================= */
                    label {
                        color: #999;
                        font-size: 17px;
                        font-weight: normal;
                        position: absolute;
                        pointer-events: none;
                        left: 5px;
                        top: 10px;
                        transition: 0.2s ease all;
                        -moz-transition: 0.2s ease all;
                        -webkit-transition: 0.2s ease all;
                    }
                    /* BOTTOM BARS ================================= */
                    .bar {
                        position: relative;
                        display: block;
                        width: 100%;
                        &:before,
                        &:after {
                            content: "";
                            height: 1px;
                            width: 0;
                            bottom: 1px;
                            position: absolute;
                            background: #5264ae;
                            transition: 0.2s ease all;
                            -moz-transition: 0.2s ease all;
                            -webkit-transition: 0.2s ease all;
                        }
                        &:before {
                            left: 50%;
                        }
                        &:after {
                            right: 50%;
                        }
                    }

                    /* HIGHLIGHTER ================================== */
                    .highlight {
                        position: absolute;
                        width: 100px;
                        top: 25%;
                        left: 0;
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
