@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";
@import "./main_content/main_content.scss";
@import "./sidebar/sidebar.scss";

.admin {
    margin-top: 4rem;
    .row {
        > div:first-child,
        > div:last-child {
            padding: 0;
        }
        .col-3 {
            background-color: rgba(8, 9, 12, 0.8);
        }
        .col-9 {
            border-left: solid #0f0d0d8f;
        }
    }
}

//for responsive
@media screen and (max-width: "1485px") {
    // <1400px
    .admin {
        > div {
            margin: 0;
            display: block;
            > div:first-child {
                //col-3
                height: 8rem;
                display: block;
                max-width: 100%;
            }
            .col-9 {
                .main_content {
                    #user_management,
                    #film_management {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                        .row {
                            button {
                                font-size: 24px;
                            }
                        }
                    }
                }
                border: none !important;
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@include respond-to("extra-large") {
    // < 1200px
    .admin {
        > div {
            margin: 0;
            display: block;

            .col-9 {
                .main_content {
                    #user_management,
                    #film_management {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 17px;
                                    }
                                    #choose_item {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    #choose_checkbox {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .row {
                            button {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@include respond-to("large") {
    // < 992px
    .admin {
        > div {
            margin: 0;
            display: block;

            .col-9 {
                .main_content {
                    #user_management,
                    #film_management {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 15px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:last-child {
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@media screen and(max-width: "857px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #film_management {
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 12px;
                                    }
                                    th:first-child {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:first-child {
                                        display: none;
                                    }
                                    td {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@media screen and(max-width: "812px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 13px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("medium") {
    // < 768px
    .admin {
        > div {
            margin: 0;
            display: block;

            .col-9 {
                .main_content {
                    #user_management,
                    #film_management {
                        div {
                            h2 {
                                font-size: 1.5rem;
                            }
                            button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 2rem !important;
                                height: 2rem !important;
                            }
                        }
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                        .row {
                            button {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@media screen and(max-width: "745px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:last-child {
                                        button {
                                            justify-content: center;
                                            display: flex;
                                            align-items: center;
                                            width: 1.5rem;
                                            height: 1.5rem;
                                        }
                                    }
                                    td:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "690px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #film_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(5),
                                    th:nth-child(3) {
                                        display: none;
                                    }
                                    th {
                                        font-size: 11px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:nth-child(5),
                                    td:nth-child(3) {
                                        display: none;
                                    }
                                    td {
                                        font-size: 10px;
                                    }
                                    td:last-child {
                                        button {
                                            width: 2.5rem;
                                            height: 2.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@media screen and(max-width: "678px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:last-child {
                                        button {
                                            justify-content: center;
                                            display: flex;
                                            align-items: center;
                                            width: 1.5rem;
                                            height: 1.5rem;
                                        }
                                    }
                                    td:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }
                        nav {
                            ul {
                                li {
                                    a {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "640px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(5) {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:last-child {
                                    }
                                    td:nth-child(5) {
                                        display: none;
                                    }
                                }
                            }
                        }
                        nav {
                            ul {
                                li {
                                    a {
                                        font-size: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "595px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(5) {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:last-child {
                                    }
                                    td:nth-child(5) {
                                        display: none;
                                    }
                                }
                            }
                        }
                        nav {
                            ul {
                                li {
                                    a {
                                        font-size: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "515px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #film_management {
                        nav {
                            overflow-x: scroll;
                            &::-webkit-scrollbar {
                                // width: 0;
                                height: 4px;
                                background-color: #e8e3e3cd;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: rgba(0, 0, 0, 0.3);
                                // width: 0;
                                height: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and(max-width: "495px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        table {
                            tbody {
                                tr {
                                    td {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                        nav {
                            ul {
                                li {
                                    a {
                                        font-size: 8px;
                                    }
                                }
                            }
                        }
                    }
                    #film_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(4) {
                                        display: none;
                                    }
                                    th {
                                        font-size: 12px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:nth-child(4) {
                                        display: none;
                                    }
                                    td:last-child {
                                        button {
                                            width: 2rem;
                                            height: 2rem;
                                            justify-content: center;
                                            align-items: center;
                                            display: flex;
                                        }
                                    }
                                    td {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "465px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management {
                        table {
                            thead {
                                tr {
                                    th:nth-child(4) {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td:nth-child(4) {
                                        display: none;
                                    }
                                }
                            }
                        }
                        nav {
                            overflow-x: scroll;
                            &::-webkit-scrollbar {
                                // width: 0;
                                height: 4px;
                                background-color: #e8e3e3cd;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: rgba(0, 0, 0, 0.3);
                                // width: 0;
                                height: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "400px") {
    .admin {
        > div {
            .col-9 {
                .main_content {
                    #user_management,
                    #film_management {
                        div {
                            h2 {
                                font-size: 1.1rem;
                            }
                        }
                    }
                    #film_management {
                        table {
                            tbody {
                                tr {
                                    td:last-child {
                                        button {
                                            width: 1.5rem;
                                            height: 1.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
