@import "./main_content/main_content.scss";
@import "./sidebar/sidebar.scss";
@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";
.admin {
    margin-top: 4rem;
    .row {
        > div:first-child,
        > div:last-child {
            box-shadow: 2px 1px 5px #00000085;
            padding: 0;
        }
        .col-3 {
            background-color: rgba(115, 134, 210, 0.8);
        }
    }
}

//for responsive
@media screen and (max-width: "1485px") {
    // <1400px
    .admin {
        > div {
            margin: 0;
            display: block;
            > div:first-child {
                //col-3
                display: flex;
                max-width: 100%;
                .sidebar_dashboard {
                    height: 7rem;
                    flex-basis: 50%;
                }
                .dashboard {
                    flex-basis: 50%;
                    .dashboard_list {
                        height: 7rem;
                        display: flex !important;
                        .dashboard_item {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            padding: 0;
                            justify-content: center;
                            a {
                                font-size: 24px;
                                padding: 0;
                            }
                            a.active {
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
            .col-9 {
                .main_content {
                    .main_content_user {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                        .row {
                            button {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@include respond-to("extra-large") {
    // < 1200px
    .admin {
        > div {
            margin: 0;
            display: block;
            > div:first-child {
                //col-3
                display: flex;
                max-width: 100%;
                .sidebar_dashboard {
                    height: 7rem;
                    flex-basis: 50%;
                }
                .dashboard {
                    flex-basis: 50%;
                    .dashboard_list {
                        height: 7rem;
                        display: flex !important;
                        .dashboard_item {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            padding: 0;
                            justify-content: center;
                            a {
                                font-size: 24px;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .col-9 {
                .main_content {
                    .main_content_user {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 17px;
                                    }
                                    #choose_item {
                                        display: none;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                   
                                    #choose_checkbox {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .row {
                            button {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}

@include respond-to("large") {
    // < 992px
    .admin {
        > div {
            margin: 0;
            display: block;
            > div:first-child {
                //col-3
                display: flex;
                max-width: 100%;
                .sidebar_dashboard {
                    height: 7rem;
                    flex-basis: 50%;
                }
                .dashboard {
                    flex-basis: 50%;
                    .dashboard_list {
                        height: 7rem;
                        display: flex !important;
                        .dashboard_item {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            padding: 0;
                            justify-content: center;
                            a {
                                font-size: 15px;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .col-9 {
                .main_content {
                    .main_content_user {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 15px;
                                    }
                                }
                            }
                            // tbody {
                            //     tr {
                            //         td {
                            //             button {
                            //                 display: block;
                            //                 font-size: 12px;
                            //                 width: 6rem;
                            //                 margin-right: 0rem !important;
                            //             }
                            //             button:nth-child(2) {
                            //                 margin: 0.5rem 0;
                            //             }
                            //             font-size: 15px;
                            //         }
                            //     }
                            // }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}
@include respond-to("medium") {
    // < 768px
    .admin {
        > div {
            margin: 0;
            display: block;
            > div:first-child {
                //col-3
                display: flex;
                max-width: 100%;
                .sidebar_dashboard {
                    height: 7rem;
                    flex-basis: 50%;
                }
                .dashboard {
                    flex-basis: 50%;
                    .dashboard_list {
                        height: 7rem;
                        display: flex !important;
                        .dashboard_item {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            padding: 0;
                            justify-content: center;
                            a {
                                font-size: 15px;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .col-9 {
                .main_content {
                    .main_content_user {
                        max-width: 100%;
                        margin-top: 0;
                        table {
                            thead {
                                tr {
                                    th {
                                        font-size: 10px;
                                    }
                                }
                            }
                            // tbody {
                            //     tr {
                            //         td {
                            //             button {
                            //                 display: block;
                            //                 font-size: 8px;
                            //                 width: 5rem;
                            //                 margin-right: 0rem !important;
                            //             }
                            //             button:nth-child(2) {
                            //                 margin: 0.5rem 0;
                            //             }
                            //             font-size: 14px;
                            //         }
                            //     }
                            // }
                        }
                        .row {
                            button {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                max-width: 100%;
            }
        }
    }
}
