@import "../../../scss/helper/mixin";
@import "../../../scss/helper/variable";

.comingMovie {
    padding: 40px 0;
    ul {
        font-family: bold;
        border: none;
        margin: auto;
        display: flex;
        width: 20rem;
        padding: 20px 0;
        justify-content: space-between;
        align-items: center;
        li {
            a {
                font-size: 20px;
                color: black;
                text-decoration: none;
                &:hover {
                    font-size: 24px;
                    border: none;
                }
            }
            a.active {
                @include text($color-red-3!important, $fs-3, $fw-bold-0);
                border: none;
            }
        }
    }
    .tab-content {
        .tab-pane {
            .slick-slider {
                .slick-list {
                    width: 95%;
                    margin: auto;
                    .slick-track {
                        .slick-slide {
                            div {
                                margin: 0 auto 2rem;
                                border-radius: 9px;
                                // border: solid red;
                                width: 16rem;
                                .card {
                                    width: 100%;
                                    height: 20rem;
                                    margin-bottom: 9rem;
                                    img {
                                        border-radius: 6px;
                                    }
                                    .card-body {
                                        position: relative;
                                        .card-title {
                                            font-size: 20px;
                                            color: black;
                                            font-weight: 600;
                                            text-align: left;
                                            margin-bottom: 1rem;
                                        }
                                        padding: 5px 0 0 0;
                                        width: 100%;
                                    }
                                    button {
                                        width: 100%;
                                        height: 2.5rem;
                                        position: absolute;
                                        top: 23.5rem;
                                        opacity: 0;
                                        transition: all 0.5s;
                                    }
                                    position: relative;
                                    .btnPlay-small {
                                        cursor: pointer;
                                        opacity: 0;
                                        color: white;
                                        width: 100px;
                                        height: 100px;
                                        z-index: 1;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                        position: absolute;
                                        background-color: rgba(0, 0, 0, 0.3);
                                        border: solid;
                                        border-radius: 50%;
                                        transition: 0.5s;
                                    }
                                    .card-body {
                                        .movieName {
                                            font-family: semibold;
                                        }
                                        > p {
                                            font-family: light;
                                        }
                                    }
                                    .btnTicket {
                                        font-family: light;
                                    }
                                    &:hover,
                                    &:focus {
                                        .btnPlay-small {
                                            opacity: 1;
                                        }

                                        button {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                button {
                    top: 46%;
                }
                .slick-prev {
                    left: -4%;
                }
                .slick-next {
                    right: -3%;
                }
            }
        }
    }
}

//for modal
.modal_trailer {
    .dialog_trailer {
        max-width: 50rem;
        .content_trailer {
            box-shadow: none;
            background-color: transparent;
            width: 100%;
            height: 30rem;
            border: none;
            .footer_trailer {
                top: -9%;
                border: none;
                position: absolute;
                left: 96%;
                cursor: pointer;
                font-size: 40px;
                color: red;
                transform: rotate(45deg);
            }
        }
    }
}

// for responsive

@include respond-to("extra-large") {
    .tab-content {
        .tab-pane {
            .slick-slider {
                .slick-next {
                    right: 0%;
                }
            }
        }
    }
}

@media screen and(max-width: "767px") {
    .comingMovie {
        .tab-content {
            .tab-pane {
                .slick-slider {
                    button {
                        top: 35%;
                    }
                    .slick-prev {
                        left: 11%;
                    }
                    .slick-next {
                        right: 14%;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "452px") {
    .comingMovie {
        .tab-content {
            .tab-pane {
                .slick-slider {
                    .slick-prev {
                        left: 7%;
                    }
                    .slick-next {
                        right: 10%;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "400px") {
    .comingMovie {
        padding: 0;
        ul {
            li {
                a {
                    font-size: 16px;
                    &:hover {
                        font-size: 16px;
                        border: none;
                    }
                }
                a.active {
                    font-size: 16px;
                }
            }
            width: 16rem;
        }
        .tab-content {
            .tab-pane {
                .slick-slider {
                    .slick-prev {
                        left: 1%;
                    }
                    .slick-next {
                        right: 5%;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "356px") {
    .comingMovie{
        .tab-content {
            .tab-pane {
                .slick-slider {
                    .slick-prev {
                        left: -3%;
                    }
                    .slick-next {
                        right: 1%;
                    }
                }
            }
        }
    }
}