@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";
/* form starting stylings ------------------------------- */
.signUp {
    background-image: url("./background-image/backapp.jpg");
    padding: 7rem 0 7rem;
    height: 100%;
    .sign-up {
        .sign_up_form {
            height: 100%;
            width: 37%;
            margin: auto;
            background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
            padding: 2rem;
            .row {
                .col-12 {
                    .group {
                        position: relative;
                        margin-bottom: 40px;
                        input {
                            font-size: 20px;
                            padding: 10px 10px 10px 5px;
                            display: block;
                            width: 100%;
                            border-radius: 3px;
                            border: 1px solid white;
                            &:focus {
                                outline: none;
                            }
                            &:focus ~ label,
                            &:valid ~ label {
                                top: -20px;
                                font-size: 13px;
                                color: $color-red-3;
                            }
                            &:focus ~ .bar {
                                &:before,
                                &:after {
                                    width: 50%;
                                }
                            }
                        }
                        /* LABEL ======================================= */
                        label {
                            color: #999;
                            font-size: 17px;
                            font-weight: normal;
                            position: absolute;
                            pointer-events: none;
                            left: 5px;
                            top: 10px;
                            transition: 0.2s ease all;
                            -moz-transition: 0.2s ease all;
                            -webkit-transition: 0.2s ease all;
                        }
                        /* BOTTOM BARS ================================= */
                        .bar {
                            position: relative;
                            display: block;
                            width: 100%;
                            &:before,
                            &:after {
                                content: "";
                                height: 1px;
                                width: 0;
                                bottom: 1px;
                                position: absolute;
                                background: #5264ae;
                                transition: 0.2s ease all;
                                -moz-transition: 0.2s ease all;
                                -webkit-transition: 0.2s ease all;
                            }
                            &:before {
                                left: 50%;
                            }
                            &:after {
                                right: 50%;
                            }
                        }

                        /* HIGHLIGHTER ================================== */
                        .highlight {
                            position: absolute;
                            width: 100px;
                            top: 25%;
                            left: 0;
                            pointer-events: none;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .row {
                .col-12 {
                    button {
                        font-family: light;
                        transition: all 0.5s;
                        &:hover {
                            background-color: red;
                        }
                    }
                }
                .guide_sign_in {
                    button {
                        transition: all 0.5s;
                        &:hover {
                            background-color: red !important;
                            color: white;
                        }
                    }
                }
            }
            position: relative;
            .btn_Close_SignUp {
                background: none;
                border: none;
                font-size: 48px;
                color: white;
                position: absolute;
                top: -1rem;
                right: 0.5rem;
                -webkit-transform: rotate(40deg);
                -moz-transform: rotate(40deg);
                -o-transform: rotate(40deg);
            }
        }
    }
}
//responsive

@include respond-to("large") {
    .signUp {
        .sign-up {
            .sign_up_form {
                width: 24rem;
            }
        }
    }
}

@include respond-to("medium") {
    .signUp {
        .sign-up {
            .sign_up_form {
                width: 23rem;
            }
        }
    }
}

@include respond-to("small") {
    .signUp {
        padding: 5rem 0;

        .sign-up {
            .sign_up_form {
                width: 68%;
            }
        }
    }
}

@include respond-to("super-small") {
    .signUp {
        padding: 4rem 0;

        .sign-up {
            .sign_up_form {
                width: 80%;
                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 18px !important;
                }
                .row {
                    .col-12 {
                        .group {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
}
