//variable color
$color-black-0: #000;
$color-black-1: #333;
$color-black-2: #555;
$color-black-3: #9b9b9b;
$color-black-4: rgba(248, 240, 240, 0.144);
$color-white-0: #ffffff;
$color-black-light: #505763;
$color-gray-1: rgba(20, 23, 28, 0.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-red-0: #ec5252;
$color-red-1: #fb4226;
$color-red-2: #521822;
$color-red-3: #fa5238;
$color-blue: #007791;
$color-yellow: #f0cd0b;

//variable font-size
$fs-0: 15px;
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 40px;
$fs-5: 50px;
$fs-6: 1.1rem;

//variable line-height
$line-height-0: 1.43; //default

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;

//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;

// margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable breakpoints
$breakpoints: (
    "extend_2": 1400px,
    "extra-large": 1200px,
    //thuộc tính để trong ngoặc kép giống json
    "large": 992px,
    "extend_1": 863px,
    "medium": 768px,
    "extend_3": 700px,
    "small": 576px,
    "extra-small": 575px,
    "super-small": 483px,
);
