@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";

#booking-ticket {
    margin-top: 4rem;
    border-top: $color-black-3 solid 1px;
    .small-container {
        max-width: 100%;
        margin: auto;
        .cinema_form {
            margin: auto;
            max-width: 100%;
            > div:first-child {
                padding: 3rem 1rem;
                .container {
                    .screen {
                        background-color: black;
                        height: 1rem;
                    }
                    .container:nth-child(4) {
                        margin-top: 2rem;
                        width: 100%;
                        .explain {
                            div {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                    .chairList {
                        margin-top: 3rem;
                        .row {
                            .col-11 {
                                .container {
                                    .row {
                                        .first-aisle {
                                            max-width: 15%;
                                            padding: 0;
                                            .row {
                                                .chair {
                                                    max-width: max-content;
                                                    padding: 0;
                                                    button {
                                                        font-family: light;
                                                    }
                                                }
                                            }
                                        }
                                        .second-aisle {
                                            max-width: 48%;
                                            .row {
                                                .chair {
                                                    max-width: max-content;
                                                    padding: 0;
                                                    button {
                                                        font-family: light;
                                                    }
                                                }
                                            }
                                        }
                                        .last-aisle {
                                            max-width: 32%;
                                            .row {
                                                .chair {
                                                    max-width: max-content;
                                                    padding: 0;
                                                    button {
                                                        font-family: light;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .col-1 {
                                .container {
                                    .row {
                                        .alphabet {
                                            button {
                                                &:focus {
                                                    box-shadow: none !important;
                                                }
                                                font-family: light;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .cinema_intro_name {
                        font-family: semibold;
                    }
                    > p:nth-child(3) {
                        font-family: light;
                    }
                    .container {
                        .explain {
                            div {
                                span {
                                    font-family: light;
                                }
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                box-shadow: -3px 0px 3px $color-black-3;
                padding: 1rem 0;
                .container {
                    .image_movie {
                        height: 16rem;
                    }
                    .table_ticket {
                        border: solid 1px $color-black-3;
                        table {
                            width: 100%;
                            tr {
                                border-bottom: solid 1px $color-black-3;
                                th,
                                td {
                                    border: none;
                                    border-right: solid 1px $color-black-3;
                                    vertical-align: middle;
                                    button {
                                        width: 5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .ticket_info {
                    max-width: 90%;
                    .cinema_ticket_book {
                        p:first-child {
                            font-family: semibold;
                        }
                        p:nth-child(2),
                        p:nth-child(3),
                        h2 {
                            font-family: light;
                        }
                    }
                    .table_ticket {
                        table {
                            thead {
                                tr {
                                    th {
                                        font-family: semibold;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        font-family: light;
                                    }
                                }
                            }
                            tfoot {
                                tr {
                                    td {
                                        font-family: semibold;
                                    }
                                }
                            }
                        }
                    }
                    > button {
                        font-family: semibold;
                    }
                }
            }
        }
    }
}

// for responsive

@media screen and (min-width: 1500px) {
    .cinema_form {
        // display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    // max-width: 18% !important;
                                    max-width: 14rem;
                                }
                                .last-aisle {
                                    padding: 0;
                                    // max-width: 32% !important;
                                    max-width: 16rem;
                                }
                                .second-aisle {
                                    padding: 0;
                                    max-width: 26rem;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
            .ticket_info {
                max-width: 85%;
            }
        }
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .cinema_form {
        // display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 18% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                    max-width: 32% !important;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
            .ticket_info {
                max-width: 85%;
            }
        }
    }
}

@media screen and (min-width: 1001px) and(max-width: 1200px) {
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 15% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 863px) and(max-width: 1000px) {
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 15% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@include respond-to("extend_1") {
    //<863 px
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 2.5rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 15% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@include respond-to("medium") {
    // < 768px
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 0.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        display: flex;
                                        justify-content: center;
                                        width: 1.5rem !important;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        .container {
                            .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 1.5rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }

                                .second-aisle {
                                    padding: 0;
                                    max-width: 35% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                    max-width: 25% !important;
                                }
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: "767px") {
    // < 768px
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 0.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        display: flex;
                                        justify-content: center;
                                        width: 1.5rem !important;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        .container {
                            .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 1.5rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }

                                .second-aisle {
                                    padding: 0;
                                    max-width: 42% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                    max-width: 28% !important;
                                }
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@media screen and(max-width: "576px") {
    .cinema_form {
        .col-8 {
            .container {
                .chairList {
                    .row {
                        .alphabet_chair {
                            .container {
                                .row {
                                    .alphabet {
                                        padding: 0;
                                        margin: 0 0 0.5rem 0.5rem !important;
                                    }
                                }
                            }
                        }
                        .col-11 {
                            .container {
                                .row {
                                    .second-aisle {
                                        max-width: 44% !important;
                                    }
                                    .last-aisle {
                                        max-width: 30% !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "575px") {
    #booking-ticket {
        .cinema_form {
            .col-8 {
                padding: 3rem 0 !important;
                .container {
                    .container {
                        .explain {
                            div {
                                button {
                                    padding: 0 !important;
                                    height: 2rem !important;
                                    width: 2rem !important;
                                    border-radius: 50%;
                                }
                                span {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .chairList {
                        .row {
                            justify-content: center;
                            .col-1 {
                                display: none;
                            }
                            .col-11 {
                                max-width: 100%;
                                .container {
                                    padding: 0;
                                    .row {
                                        justify-content: space-evenly !important;
                                        .first-aisle,
                                        .second-aisle,
                                        .last-aisle {
                                            .container {
                                                .row {
                                                    .chair {
                                                        button {
                                                            display: flex;
                                                            align-items: center;
                                                            width: 25px !important;
                                                            height: 25px !important;
                                                            border-radius: 50%;
                                                            font-size: 12px;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .first-aisle {
                                            max-width: 7% !important;
                                        }
                                        .second-aisle {
                                            max-width: 31% !important;
                                        }
                                        .last-aisle {
                                            max-width: 18% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
    }
}

@media screen and(max-width: "547px") {
    #booking-ticket {
        .cinema_form {
            .col-8 {
                .container {
                    .chairList {
                        .row {
                            .col-11 {
                                .container {
                                    padding: 0;
                                    .row {
                                        .first-aisle,
                                        .second-aisle,
                                        .last-aisle {
                                            .container {
                                                .row {
                                                    .chair {
                                                        button {
                                                            display: flex;
                                                            justify-content: center;
                                                            align-items: center;
                                                            width: 20px !important;
                                                            height: 20px !important;
                                                            border-radius: 50%;
                                                            font-size: 9px;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .first-aisle {
                                            max-width: 7% !important;
                                        }
                                        .second-aisle {
                                            max-width: 29% !important;
                                        }
                                        .last-aisle {
                                            max-width: 19% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "456px") {
    #booking-ticket {
        .cinema_form {
            .col-8 {
                .container {
                    .chairList {
                        .row {
                            .col-11 {
                                .container {
                                    padding: 0;
                                    .row {
                                        .first-aisle,
                                        .second-aisle,
                                        .last-aisle {
                                            .container {
                                                .row {
                                                    .chair {
                                                        button {
                                                            display: flex;
                                                            align-items: center;
                                                            width: 17px !important;
                                                            height: 17px !important;
                                                            border-radius: 50%;
                                                            font-size: 8px;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .first-aisle {
                                            max-width: 7% !important;
                                        }
                                        .second-aisle {
                                            max-width: 30% !important;
                                        }
                                        .last-aisle {
                                            max-width: 18% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "436px") {
    #booking-ticket {
        .cinema_form {
            .col-8 {
                .container {
                    .chairList {
                        .row {
                            .col-11 {
                                .container {
                                    padding: 0;
                                    .row {
                                        .first-aisle,
                                        .second-aisle,
                                        .last-aisle {
                                            .container {
                                                .row {
                                                    .chair {
                                                        button {
                                                            display: flex;
                                                            align-items: center;
                                                            width: 17px !important;
                                                            height: 17px !important;
                                                            border-radius: 50%;
                                                            font-size: 8px;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .first-aisle {
                                            max-width: 7% !important;
                                        }
                                        .second-aisle {
                                            max-width: 30% !important;
                                        }
                                        .last-aisle {
                                            max-width: 18% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "440px") {
    #booking-ticket {
        .cinema_form {
            .col-8 {
                .container {
                    .chairList {
                        .row {
                            .col-11 {
                                .container {
                                    padding: 0;
                                    .row {
                                        .first-aisle,
                                        .second-aisle,
                                        .last-aisle {
                                            .container {
                                                .row {
                                                    .chair {
                                                        button {
                                                            display: flex;
                                                            align-items: center;
                                                            width: 17px !important;
                                                            height: 17px !important;
                                                            border-radius: 50%;
                                                            font-size: 8px;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .first-aisle {
                                            max-width: 7% !important;
                                        }
                                        .second-aisle {
                                            max-width: 31% !important;
                                        }
                                        .last-aisle {
                                            max-width: 18% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "369px") {
    #booking-ticket {
        .cinema_form {
            .col-8 {
                .container {
                    .chairList {
                        .row {
                            .col-11 {
                                .container {
                                    padding: 0;
                                    .row {
                                        .first-aisle,
                                        .second-aisle,
                                        .last-aisle {
                                            .container {
                                                .row {
                                                    .chair {
                                                        button {
                                                            display: flex;
                                                            align-items: center;
                                                            width: 16px !important;
                                                            height: 16px !important;
                                                            border-radius: 50%;
                                                            font-size: 7px;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .first-aisle {
                                            max-width: 7% !important;
                                        }
                                        .second-aisle {
                                            max-width: 31% !important;
                                        }
                                        .last-aisle {
                                            max-width: 18% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
