@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";

#booking-ticket {
    margin-top: 4rem;
    border-top: $color-black-3 solid 1px;
    .small-container {
        max-width: 100%;
        margin: auto;
        .cinema_form {
            margin: auto;
            max-width: 100%;
            > div:first-child {
                padding: 3rem 1rem;
                .container {
                    .screen {
                        background-color: black;
                        height: 1rem;
                    }
                    .container:nth-child(4) {
                        margin-top: 2rem;
                        width: 100%;
                        .explain {
                            div {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                    .chairList {
                        margin-top: 3rem;
                        .row {
                            .col-11 {
                                .container {
                                    .row {
                                        .first-aisle {
                                            max-width: 15%;
                                            padding: 0;
                                            .row {
                                                .chair {
                                                    max-width: max-content;
                                                    padding: 0;
                                                }
                                            }
                                        }
                                        .second-aisle {
                                            max-width: 48%;
                                            .row {
                                                .chair {
                                                    max-width: max-content;
                                                    padding: 0;
                                                }
                                            }
                                        }
                                        .last-aisle {
                                            max-width: 32%;
                                            .row {
                                                .chair {
                                                    max-width: max-content;
                                                    padding: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .col-1 {
                                .alphabet {
                                    button {
                                        &:focus {
                                            box-shadow: none !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > div:nth-child(2) {
                box-shadow: -3px 0px 3px $color-black-3;
                padding: 1rem 0;
                .container {
                    .image_movie {
                        height: 16rem;
                    }
                    .table_ticket {
                        border: solid 1px $color-black-3;
                        table {
                            width: 100%;
                            tr {
                                border-bottom: solid 1px $color-black-3;
                                th,
                                td {
                                    border: none;
                                    border-right: solid 1px $color-black-3;
                                    vertical-align: middle;
                                    button {
                                        width: 5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .ticket_info {
                    max-width: 90%;
                }
            }
        }
    }
}

// for responsive

@media screen and (min-width: 1500px) {
    .cinema_form {
        // display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    // max-width: 18% !important;
                                    max-width: 14rem;
                                }
                                .last-aisle {
                                    padding: 0;
                                    // max-width: 32% !important;
                                    max-width: 16rem;
                                }
                                .second-aisle {
                                    padding: 0;
                                    max-width: 26rem;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
            .ticket_info {
                max-width: 85%;
            }
        }
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .cinema_form {
        // display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 18% !important;
                                    
                                }
                                .last-aisle {
                                    padding: 0;
                                    max-width: 32% !important;
                                   
                                }
                                .second-aisle {
                                    padding: 0;
                                    
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
            .ticket_info {
                max-width: 85%;
            }
        }
    }
}

@media screen and (min-width: 1001px) and(max-width: 1200px) {
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 15% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 863px) and(max-width: 1000px) {
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                max-width: 53rem;
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 3rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 15% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@include respond-to("extend_1") {
    //<863 px
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 2.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 2.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        > .container {
                            > .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 2.5rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .first-aisle {
                                    max-width: 15% !important;
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                                justify-content: space-between !important;
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}

@include respond-to("medium") {
    // < 768px
    .cinema_form {
        display: block;
        > div:first-child {
            max-width: 100%;
            .container {
                > .container {
                    padding-left: 0;
                    .explain {
                        display: flex;
                        div {
                            button {
                                margin-right: 0.5rem !important;
                                width: 0.5rem !important;
                                height: 2rem;
                            }
                            span {
                                font-size: 11px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .chairList {
                .row {
                    .col-1 {
                        // display: none;
                        .container {
                            .row {
                                .alphabet {
                                    button {
                                        width: 0.5rem !important;
                                        display: flex;
                                        justify-content: center;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-11 {
                        .container {
                            .row {
                                .first-aisle,
                                .second-aisle,
                                .last-aisle {
                                    .container {
                                        .row {
                                            .chair {
                                                button {
                                                    width: 1.5rem !important;
                                                    font-size: 10px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .last-aisle {
                                    padding: 0;
                                }
                                .second-aisle {
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .alphabet_chair {
                        padding: 0;
                    }
                    > div:nth-child(2) {
                        // flex-basis: 108% !important;
                        flex: 0 0 108% !important;
                    }
                }
                padding: 0;
            }
        }
        > div:last-child {
            max-width: 100%;
        }
    }
}
