@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";
.user-profile {
    margin: 3rem auto 3rem;
    padding-top: 1rem;
    .profile_info {
        .profile_info_detail {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 17.5rem;
            > div:first-child {
                font-family: light;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                border: solid;
                height: 50px;
                // display: inline-block;
                border-radius: 50%;
                color: white;
                font-size: 25px;
                background-color: red;
            }
        }
        > div {
            margin-top: 2rem;
            font-family: light;
            span {
                font-family: semibold;
            }
        }

        .trade_modal {
            > div {
                button {
                    font-family: semibold;
                    width: 10rem;
                    padding: 7px;
                }
            }
            div {
                .trade_1,
                .trade_2 {
                    .payment_1,
                    .payment_2 {
                        width: 100%;
                        thead {
                            border: solid $color-black-3 1px;
                            tr {
                                height: 5rem;
                                th {
                                    padding: 10px;
                                    border: solid $color-black-3 1px;
                                    font-family: bold;
                                    color: red !important;
                                }
                            }
                        }
                        tbody {
                            border: solid $color-black-3 1px;
                            > tr {
                                border: solid $color-black-3 1px;
                                height: 5rem;
                                > td {
                                    font-family: semibold;
                                    padding: 10px;
                                    border: solid $color-black-3 1px;
                                    table {
                                        tbody {
                                            tr {
                                                // border-bottom: solid 1px $color-black-3;
                                                display: block;
                                                height: 3rem;
                                                width: 100%;
                                                display: flex;
                                                align-items: center;
                                                td {
                                                    padding: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        tfoot {
                            tr {
                                border: solid $color-black-3 1px;
                                td {
                                    padding: 10px;
                                    border: solid $color-black-3 1px;
                                    font-family: semibold;
                                }
                            }
                        }
                    }
                }
                .trade_2 {
                    visibility: collapse;
                }
            }
        }
    }
    .greeting {
        text-align: center;
        height: 16rem;
        background-image: url("./images/profile_bg.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        img {
            margin-top: 10rem;
            border-radius: 50%;
            width: 180px;
            height: 180px;
        }
    }
}

// for responsvie

@media screen and(max-width: "1200px") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    .trade_1 {
                        .payment_1 {
                            tbody {
                                tr {
                                    td {
                                        font-size: 12px;
                                        tr {
                                            td {
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("large") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    .trade_1 {
                        display: none;
                    }
                    .trade_2 {
                        visibility: visible;
                        .payment_2 {
                            tbody {
                                tr {
                                    td {
                                        tr {
                                            td {
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("medium") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    .trade_2 {
                        .payment_2 {
                            thead {
                                tr {
                                    th {
                                        font-size: 12px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        // tr {
                                        //     td {
                                        //         padding: 0;
                                        //     }
                                        // }
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .greeting {
            height: 14rem;
            img {
                margin-top: 9rem;
                width: 160px;
                height: 160px;
            }
        }
    }
}

@media screen and(max-width: "510px") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    .trade_2 {
                        .payment_2 {
                            thead {
                                tr {
                                    th {
                                        font-size: 11px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        // tr {
                                        //     td {
                                        //         padding: 0;
                                        //     }
                                        // }
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("super-small") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    button {
                        width: 8rem;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: "475px") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    .trade_2 {
                        .payment_2 {
                            thead {
                                tr {
                                    th {
                                        font-size: 10px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        font-size: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .profile_info_detail {
                font-size: 15px;
                > div:first-child {
                    width: 40px !important;
                    height: 40px !important;
                    font-size: 15px !important;
                }
            }
        }
    }
}

@media screen and(max-width: "380px") {
    .user-profile {
        .profile_info {
            .trade_modal {
                div {
                    .trade_2 {
                        .payment_2 {
                            thead {
                                tr {
                                    th {
                                        font-size: 8px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        font-size: 7px;
                                    }
                                }
                            }
                            tfoot {
                                tr {
                                    td {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .greeting{
            height: 12rem;
            img{
                width: 140px;
                height: 140px;
                margin-top: 7.5rem;
            }
        }
    }
}
