@import "../../scss/helper/variable";
@import "../../scss/helper/mixin";
.user-profile {
    margin: 3rem auto 3rem;
    .profile_info {
        > div {
            margin-top: 2rem;
        }
        .trade_1,
        .trade_2 {
            .payment_1,
            .payment_2 {
                width: 100%;
                thead {
                    border: solid $color-black-3 1px;
                    tr {
                        height: 5rem;
                        th {
                            padding: 10px;
                            border: solid $color-black-3 1px;
                        }
                    }
                }
                tbody {
                    border: solid $color-black-3 1px;
                    > tr {
                        border: solid $color-black-3 1px;
                        height: 5rem;
                        > td {
                            padding: 10px;
                            border: solid $color-black-3 1px;
                            > tr {
                                // border-bottom: solid 1px $color-black-3;
                                display: block;
                                height: 3rem;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                td {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
                tfoot {
                    tr {
                        border: solid $color-black-3 1px;
                        td {
                            padding: 10px;
                            border: solid $color-black-3 1px;
                        }
                    }
                }
            }
        }
        .trade_2 {
            visibility: collapse;
        }
    }
}

// for responsvie

@include respond-to("large") {
    .user-profile {
        .profile_info {
            .trade_modal {
                .trade_1 {
                    display: none;
                }
                .trade_2 {
                    visibility: visible;
                    .payment_2{
                        tbody{
                            tr{
                                td{
                                    tr{
                                        td{
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("very-small") {
    .user-profile {
        .profile_info {
            .trade_modal {
                
                .trade_2 {
                    .payment_2 {
                        thead {
                            tr {
                                th {
                                    font-size: 12px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    padding: 6px;
                                    font-size: 12px;
                                }
                            }
                        }
                        tfoot {
                            tr {
                                td {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
